.brand {
    height: 50px;
    width: 50px;
}

.nav-logo h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.text-brand{
    position:absolute; 
    top:20px; 
    left:170px;
    color: #F0F8FF
}

.back{
    background-image: url("../images/banner.jpg");
    height: 300px;
  
}
